---
layout: page
title: TODO
---
<div class="cards">
{% assign state = 'xl' %}
{% assign sorted_todo = site.data.todo | sort: 'progress' %}
{% for todo in sorted_todo %}
  <a class="card" href="{{ todo.link }}">
    <div class="image" style="background-image:url({{ todo.image }})"></div>
    <div class="extra content">{{ todo.title }}</div>
    <div class="extra content"><time>{{ todo.date }}</time></div>
    {% if todo.progress > 0.9 %}
      {% assign state = 'xl' %}
    {% elsif todo.progress > 0.8 %}
      {% assign state = 'l' %}
    {% elsif todo.progress > 0.5 %}
      {% assign state = 'm' %}
    {% elsif todo.progress > 0.2 %}
      {% assign state = 's' %}
    {% else %}
      {% assign state = 'xs' %}
    {% endif %}
    <div class="progress {{ state }}">{{ todo.progress | times: 100}}%</div>
  </a>
{% endfor %}
</div>